.main {
  width: 100%;
}

.container {
  margin: 0 auto;
  width:80%
}

.description {
  font-size: 0.85rem;
  max-width: var(--max-width);
  z-index: 2;
  font-family: var(--font-mono);
  text-align: center;
}