.main {
  width: 100%;
}

.container {
  margin: 0 auto;
  width:80%;

  @media only screen and (min-width: 720px)  {
    width: 60%;
  }
}

.description {
  font-size: 2rem;
  max-width: var(--max-width);
  z-index: 2;
  text-align: center;
}